<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="ro.simonaSerseniuc.cordova.securitycheckplugin" version="0.0.1">
    <name>Security</name>
    <description>Security Check</description>
    <license>Apache 2.0</license>
    <keywords>cordova,security,pincode,pin,lock,device</keywords>
    
	<js-module src="www/securityCheck.js" name="securityCheck">
        <clobbers target="window.SecurityCheck" />
    </js-module>
	
	<platform name="android">
		<source-file src="src/android/SecurityCheck.java" target-dir="src/android/SecurityCheck" />
		<!--<source-file src="src/android/java-json.jar" target-dir="libs"/>-->
		
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SecurityCheck">
				<param name="android-package" value="android.SecurityCheck"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
        </config-file>
		
    </platform>
</plugin>